@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

@mixin centerChild {
    display: flex;
    align-items: center;
    justify-content: center;
}

$_black: rgb(19, 19, 19);
$_white: rgb(233, 233, 233);
$_nav: rgba(255, 255, 255, 0.151);
$_sep: rgb(202, 202, 202);
$_info: rgb(94, 94, 94);

* {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Inter";
}

p {
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: none;
    font-family: "Merriweather";
}

button {
    background: transparent;
    padding-inline: 40px;
    border-color: rgb(31, 31, 31);
    padding-block: 10px;
    cursor: pointer;
    border-style: solid;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
        background: $_black;
        color: $_white;
        letter-spacing: 2px;
    }
}

h3, label, submit {
    display: flex;
    align-items: center;
    font-size: small;
    margin: 0;
    color: $_info;
    cursor: pointer;
}

input[type="text"], textarea {
    cursor: pointer;
    text-align: left;
    color: $_info;
    margin: 0;
    border-radius: 5px;
    border-width: 1px;
    outline: none;
    text-indent: 10px;
    resize: none;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    background: url("./images/bg.jpg") center/cover repeat fixed;
}
