header {
    padding-top: 3%;
    color: $_white;
    background: url("../img/bg-slider-06.jpg") center/cover;
    height: 100vh;
    font-family: "Poppins";
    display: grid;
    grid-template-rows: 10% 60%;
    nav {
        width: 90%;
        display: grid;
        grid-template-columns: 10% 70% 10%;
        justify-content: space-around;
        .title {
            @include centerChild;
            font-family: "Allura";
            font-size: 3rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                font-size: 4rem;
                letter-spacing: 5px;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            li {
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    letter-spacing: 4px;
                    font-size: 1.5rem;
                }
            }
        }
        @media screen and (max-width: 1000px) {
            grid-template-columns: 50% 50%;
            .links {
                display: none;
            }
            .networks {
                width: 80%;
            }
        }
    }
    .title {
        @include centerChild;
        .title-content {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .welcome {
                @include titleFormat;
                & :nth-child(1) {
                    font-size: 5rem;
                }
                & :nth-child(2) {
                    font-size: 6rem;
                }
            }
            .cutlery {
                background: none;
                content: url("../img/ic-plate-big.png");
                height: 50px;
                width: 50px;
            }
            .slogan {
                text-transform: uppercase;
                font-family: "Roboto";
                font-weight: lighter;
                letter-spacing: 8px;
            }
            @media screen and (max-width: 600px) {
                .welcome {
                    & :nth-child(1) {
                        font-size: 2rem;
                    }
                    & :nth-child(2) {
                        font-size: 3rem;
                    }
                }
                .cutlery {
                    height: 30px;
                    width: 30px;
                }
                .slogan {
                    letter-spacing: 4px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}