nav {
    width: 90%;
    display: grid;
    grid-template-columns: 45% 30%;
    align-items: center;
    justify-content: space-between;
    background: $_nav;
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
            @include centerChild;
            cursor: pointer;
            color: $_white;
            width: 100%;
            height: 100%;
            padding: 15px 5px;
            transition: 0.3s;
            &:hover {
                background: $_white;
                color: $_black;
            }
        }
        #fix_color {
            background: $_white;
            color: $_black;
        }
        &:hover #fix_color:not(:hover) {
            background: none;
            color: $_white;
        }
    }
    @media screen and (max-width: 800px) {
            display: flex;
            height: 8vh;
            ul li {
                font-size: 0.8rem;
            }
            & ul:not(:first-child) {
                display: none;
            }
    }
}