* {
    padding: 5;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 5% 30% 5% 20% 40% 20% 0.1% 10% 8%;
}

.fa-solid {
    padding-left: 20px;
    padding-top: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2% 0%;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

nav ul li:hover:not(#button-language) {
    color: purple;
    text-decoration: overline purple 2px;
    letter-spacing: 1px;
}

#button-language {
    background: rgb(221, 221, 221);
    border-radius: 15px;
    padding: 0;
    width: 90px;
    display: flex;
    justify-content: space-around;
}

#button-language:hover {
    letter-spacing: 1px;
}

header {
    background: url(./img/bg.jpg) no-repeat center/cover fixed;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-content {
    display: grid;
    grid-template-rows: 70% 15% 15%;
}

#logo-gc {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#logo-gc img {
    height: 100%;
}

.header-content h1 {
    color: white;
    display: flex;
    justify-content: center;
}

.button-header {
    display: flex;
    justify-content: center;
}

.button-header button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 5%;
    font-size: 1.4rem;
    letter-spacing: 2px;
    transition: 0.4s;
}

.button-header button:hover {
    color: black;
    background-color: white;
    letter-spacing: 3px;
}

.intro-sentence {
    display: flex;
    justify-content: center;
    padding: 2% 10%;
}

.intro-sentence h5 {
    font-size: 1.2rem;
    text-align: center;
}

.gaming {
    display: flex;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    color: white;
}

.gaming-content {
    display: flex;
    justify-content: space-around;
    width: 85%;
    padding: 5% 0%;
}

.business-school {
    width: 30%;
    display: grid;
    grid-template-rows: 50% 10% 20% 20%;
}

.img-gbs {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.business-school h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.business-school p {
    text-align: center;
    padding: 0% 5%;
}

.button-gbs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-school button {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 0%;
    letter-spacing: 1px;
    transition: 0.4s;
}

.business-school button:hover {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    width: 60%;
}

.academy {
    width: 30%;
    display: grid;
    grid-template-rows: 50% 10% 20% 20%;
}

.img-academy {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.academy h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.academy p {
    text-align: center;
    padding: 0% 5%;
}

.button-academy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.academy button {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 0%;
    letter-spacing: 1px;
    transition: 0.4s;
}

.academy button:hover {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    width: 60%;
}

.guru {
    width: 30%;
    display: grid;
    grid-template-rows: 50% 10% 20% 20%;
}

.img-guru {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.guru h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.guru p {
    text-align: center;
    padding: 0% 5%;
}

.button-guru {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guru button {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding-inline: 0%;
    letter-spacing: 1px;
    transition: 0.4s;
}

.guru button:hover {
    background-color: white;
    color: black;
    letter-spacing: 2px;
    width: 60%;
}

.news {
    padding: 5% 7%;
    display: flex;
    justify-content: center;
}

.news-content {
    display: grid;
    grid-template-rows: 20% 70%;
    align-content: space-evenly;
}

.news-intro {
    display: grid;
    grid-template-columns: 65% 25%;
    align-items: center;
    justify-content: space-between;
}

.news-title h4{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.news-button {
    display: flex;
    justify-content: center;
}

.news-button button {
    background-color: transparent;
    color: black;
    border-color: black;
    border-width: 1px;
    padding-inline: 10%;
    padding-block: 5%;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s;
}

.news-button button i {
    padding-left: 5px;
}

.news-button button:hover
{
    letter-spacing: 3px;
}

.news-events {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}

.reunion {
    display: grid;
    grid-template-rows: 40% 10% 30% 5%;
    align-content: space-around;
}

.img-reunion img {
    height: 100%;
}

.reunion h4 {
    display: flex;
    align-items: center;
}

.reunion p {
    font-weight: bold;
    font-size: 0.9rem;
}

.reunion a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(49, 0, 128);
}

.pgw {
    display: grid;
    grid-template-rows: 40% 15% 30% 5%;
    align-content: space-around;
}

.img-pgw img {
    height: 100%;
}

.pgw h4 {
    display: flex;
    align-items: center;
}

.pgw p {
    font-weight: bold;
    font-size: 0.9rem;
}

.pgw a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(49, 0, 128);
}

.inauguration {
    display: grid;
    grid-template-rows: 40% 15% 30% 5%;
    align-content: space-around;
}

.img-inauguration img {
    height: 100%;
}

.inauguration h4 {
    display: flex;
    align-items: center;
}

.inauguration p {
    font-weight: bold;
    font-size: 0.9rem;
}

.inauguration a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(49, 0, 128);
}

.gaming-infos {
    display: flex;
    justify-content: center;
    padding: 1% 4%;
}

.gaming-infos-content {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 20% 20% 20% 20%;
}

.img-gaming-campus {
    display: flex;
    align-items: center;
}

.img-gaming-campus img {
    max-width: 80%;
    max-height: 80%;
}

.infos-pratiques {
    height: 80%;
    display: grid;
    grid-template-rows: 10% 80%;
    align-content: space-around;
}

.infos-pratiques h4 {
    text-transform: uppercase;
}

.infos-pratiques ul {
    list-style: none;
    padding-left: 0;
    color: rgb(49, 0, 128);
}

.infos-pratiques ul li {
    padding-bottom: 10px;
}

.parents {
    height: 75%;
    display: grid;
    grid-template-rows: 15% 30% 15%;
}

.parents h4 {
    text-transform: uppercase;
}

.parents p {
    font-weight: bold;
}

.contact {
    height: 80%;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
}

.tel-mail {
    height: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20%;
    align-content: space-around;
}

.tel-mail h4 {
    text-transform: uppercase;
}

.tel-mail p {
    font-weight: bold;
}

.networks {
    height: 80%;
    display: grid;
    grid-template-rows: 30% 30%;
    align-content: space-around;
    align-items: center;
}

.networks h4 {
    text-transform: uppercase;
}

.logos {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.copyright {
    font-weight: bold;
}

.journaux {
    display: flex;
    align-items: center;
    justify-content: center;
}

.journaux-content {
    height: 50%;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
    align-items: center;
}

.title-journaux {
    height: 100%;
    display: grid;
    grid-template-rows: 60% 30%;
    align-content: space-around;
    align-items: center;
}

.title-journaux h4 {
    text-transform: uppercase;
}

.title-journaux p {
    font-weight: bold;
}

.img-journaux {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-journaux img {
    max-height: 25%;
    max-width: 25%;
    padding: 1%;
}

.partenaires {
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partenaires-content {
    display: grid;
    grid-template-rows: 25% 50%;
    align-content: space-around;
    width: 90%;
    height: 90%;
}

.title-partenaires {
    text-align: center;
    text-transform: uppercase;
}

.img-partenaires {
    display: grid;
    grid-template-columns: 11% 9% 9% 10% 6% 10% 16% 6% 5% 4%;
    justify-content: space-between;
    align-items: center;
}