@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

@font-face {
  font-family: "Sunrise";
  src: url(./assets/fonts/WaitingfortheSunrise-Regular.ttf);
}

/* *{
  margin: 0;
  padding: 0;
  border: 2px solid red;
} */

body {
  font-family: "Sunrise", Verdana, Geneva, Tahoma, sans-serif;
  background: url(./assets/img/balenciaga.jpg) center/cover;
  min-height: 100vh;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 3rem;
  text-shadow: 5px 1px 9px #00000080;
  color: #49d1a880;
  text-decoration: underline;
  /* font-family: "Waiting for the Sunrise", cursive;
    font-weight: 400;
    font-style: normal; */
  font-size: 8vw;
}

main{
  min-height: 500px;
  width: 90%;
  background: rgba(165, 94, 94, 0.733);
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 20px 100px 50px 100px;
  box-shadow: 0 0 0 black;
  padding: 15px;
}

h2{
  margin: 0;
}

.flexbox, .grid, .absolute {
  border: 2px dashed red;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-height: 150px;
}

.flexbox ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.flexbox li{
  list-style: none;
  height: 160px;
  width: 160px;
  margin: 10px;
  background: turquoise;
  display:flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid img {
  width: 90%;
  margin: 20px auto;
  display: block;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "i1 i2"
  "ta ta"
  "vi bt";
}

input, textarea {
  margin: 5px;
  border: 2px solid darkblue;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Sunrise";
  border-radius: 5px;
}

textarea {
  grid-area: ta;
  height: 40px;
  resize:none;
}

#btm-submit {
  grid-area: bt;
  cursor: pointer;
  background: cyan;
  transition: 0.2s;
}

#btm-submit:hover {
  background: green;
  color: white;
}

.absolute {
  position: relative;
}

#circle1 {
  height: 60px;
  width: 60px;
  background: skyblue;
  position: absolute;
  border-radius: 150px;
  top: 0;
  right: 0;
}

#circle2 {
  height: 40px;
  width: 40px;
  border-radius: 150px;
  background: teal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}

@media screen and (max-width:700px) {
  .grid-container {
    display: block;
  }
  .grid-container img {
    width: 30%;
  }
}

@media screen and (max-width:500px) {
  .flexbox ul{
    flex-direction: column;
    align-items: center;
  }
  form{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "i1"
    "i2"
    "ta"
    "bt";
  }
  input, textarea {
    font-size: 0.8rem;
  }
}

